doctype html
html(lang="en")
  head
    title= 'Jade Test'
  body
    h1 Rendered on server
    = 'Hello ' + name + '!'
    if colors && colors.length
        ul
            each color in colors
                li.color= color
    if !colors || !colors.length
        div No colors!

    #container
    != scripts




